<div>
  <h3>
    Przystępne i precyzyjne dokumenty prawne z pomocą wirtualnego prawnika
  </h3>
  <a href="#">Przeglądaj dokumenty</a>
</div>

<style>
  div {
    @apply container flex flex-col items-start md:items-center justify-center gap-20 w-full;
    @apply py-20 md:py-50 mt-30 px-30 md:px-50;
  }

  div > a {
    @apply btn btn-default btn-big;
  }
</style>
