---
import { Image, Picture } from "@astrojs/image/components";
import searchIcon from "../images/icon-search.svg";
---

<section>
  <h1>Stwórz precyzyjne dokumenty prawne z&nbsp;pomocą wirtualnego prawnika</h1>
  <form id="search">
    <input
      type="search"
      placeholder="Wyszukaj dokument lub sprawę np. umowa najmu, testament"
      spellcheck="false"
    />
    <button>Szukaj</button>
    <Image src={searchIcon} alt="search" width={24} height={24} />
  </form>
  <Picture
    src="/image-1.png"
    alt="Prawniczek"
    widths={[153, 306]}
    aspectRatio={1.26}
    sizes="153px"
  />
</section>

<style>
  section {
    @apply flex items-center justify-center flex-col gap-20;
  }

  section > h1 {
    @apply text-center;
    @apply max-w-[600px];
  }

  form {
    @apply w-full;
    @apply flex flex-wrap gap-15 items-center justify-center;
    @apply relative;
  }

  button {
    @apply btn btn-default btn-big;
  }

  input[type="search"] {
    @apply flex-grow;
    @apply pl-60;
    @apply text-lg leading-8;
    @apply py-10;
  }

  form > img {
    @apply absolute left-20 top-0 translate-y-1/2 mt-[4px];
  }

  section > img {
    @apply mt-10;
  }
</style>
<script>
  const searchForm = document.getElementById("search");
  const searchInput = searchForm.querySelector("input");

  searchForm.addEventListener("submit", (event) => {
    event.preventDefault();

    document.body.dispatchEvent(new CustomEvent("showModal"));

    if (import.meta.env.PROD) {
      (window as any).plausible("Search", {
        props: { query: searchInput.value },
      });
    }
  });
</script>
